@import 'tailwindcss';

/* Content font - Caudex, 10% smaller than base */
.content {
  font-family: 'Caudex', serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.5;
}

/* Heading font - Pirata One */
.heading {
  font-family: 'Pirata One', cursive;
  font-weight: normal;
}

body {
  font-family: 'Caudex', serif;
  font-size: 1.38rem;
  line-height: 1.5;
}
